<div class="row" id="settings">
	<div class="tab-full-column" ng-controller=ImportOrderController>
		<h4>Import Orders from Sterling</h4>
		<div id="importErrorDiv" class="row" ng-show="showErrorPage">
			<div class="row">
				<div class="tab-full-column">
					<button class="ui-button secondary" ng-click="hideError()">&lt;&lt;Back</button>
				</div>
			</div>

			<div class="row" style="overflow: auto; height: 360px"
				id="logImportDataDiv">
				<div class="tab-full-column">
					The following errors occurred during job execution:
					<ul ng-repeat="jobError in jobErrors track by $index"">
						<li>{{jobError}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-hide="showErrorPage">
			<div class="tab-full-column">
				<div>
					<div class="tab-first-column">
						<label class="tab-field-label" style=""field">Order Date:</label>
					</div>
					<div class="tab-second-column">
						<input type="date" id="exampleInput" name="input"
							ng-model="orderDate" placeholder="yyyy-MM-dd" />
					</div>
					<div class="tab-full-column">
						<button class="mz-button primary" ng-click="importOrders()">Import
							Orders</button>
						<button class="mz-button" ng-click="refreshList()">Refresh</button>
					</div>
				</div>
			</div>

			<div id="importDiv" class="row bodycontainer scrollable"
				style="height: 320px; overflow: auto;">
				<table class="table table-striped"
					style="width: 100%; overflow: auto; border: 1px solid rgba(221, 221, 221, 1);">
					<thead>
						<th class="col-xs-6">Import Date/Time</th>
						<th class="col-xs-6">Site ID</th>
						<th class="col-xs-6"># of Orders</th>
						<th class="col-xs-6">Status</th>
						<th class="col-xs-6">Errors</th>
						<th class="col-xs-6"></th>
					</thead>
					<tbody>
						<tr ng-repeat="jobItem in jobList">
							<td class="col-xs-6">{{jobItem.startDateTime | date :
								'medium'}}</td>
							<td class="col-xs-6">{{jobItem.siteId}}</td>
							<td class="col-xs-6">{{jobItem.readCount}}</td>
							<td class="col-xs-6">{{jobItem.batchStatus}}</td>
							<td class="col-xs-6"><a href="javascript:;"
								ng-click="showErrorList(jobItem.id)">{{jobItem.errorCount}}</a></td>
							<td class="col-xs-6"><a href="javascript:;"
								ng-click="stopJob(jobItem.id)"
								ng-if="jobItem.batchStatus == 'STARTED'">Stop</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>