<div class="row" id="settings">
	<div class="tab-full-column" ng-controller=ImportOrderController>
		<h4>Import Orders from Sterling</h4>
		<div class="tab-full-column">
			<div>
				<button class="mz-button primary" ng-click="importOrders()">Import Products</button>
				<button class="mz-button" ng-click="refreshList()">Refresh</button>

			</div>
		</div>

		<div class="scrollable">
			<table class="table table-striped"
				style="width: 100%; overflow: auto; border: 1px solid rgba(221, 221, 221, 1);">
			</table>
		</div>
		<div class="bodycontainer scrollable"
			style="height: 320px; overflow: auto;">
			<table class="table table-striped"
				style="width: 100%; overflow: auto; border: 1px solid rgba(221, 221, 221, 1);">
				<thead>
					<th class="col-xs-6">Import Date/Time</th>
					<th class="col-xs-6">Site ID</th>
					<th class="col-xs-6"># of Products</th>
					<th class="col-xs-6">Status</th>
					<th class="col-xs-6">Errors</th>
				</thead>
				<tbody>
					<tr>
						<td class="col-xs-6">2015-12-02 10:19:04</td>
						<td class="col-xs-6">1223</td>
						<td class="col-xs-6">29</td>
						<td class="col-xs-6">Completed</td>
						<td class="col-xs-6">0</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

