<div class="row" id="settings">
    <div class="tab-full-column">
	    <h4>Map Enterprises and Sites</h4> 
		<div>
             <div class="tab-first-column">
                <label class="tab-field-label" style=" for="field">Sterling Top-Level Organization</label> 
            </div>                
            <div class="tab-second-column">
               <select type="text" id="sterlingEnterpriseCode" ng-model="settings.sterlingEnterpriseCode"
                    ng-options="org.id as org.name for org in settings.enterprises"
                    class="tab-field" required="required">
                    <option value="">-- Select Sterling Enterprise --</option>
               </select>
            </div>

            <div class="scrollable">
                <table class="table table-striped"
                    style="width: 100%; overflow: auto; border: 1px solid rgba(221, 221, 221, 1);">
                </table>
            </div>
            <div class="bodycontainer scrollable"
                style="height: 320px; overflow: auto; ">
                <table class="table table-striped"
                    style="width: 100%; overflow: auto; border: 1px solid rgba(221, 221, 221, 1);">
                    <thead>
                        <th class="col-xs-6">Sterling Seller Organization</th>
                        <th class="col-xs-6">Mozu Site</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="seller in settings.sellerMap">
                            <td class="col-xs-6">{{seller.sterlingOrgName}}</td>
                            <td class="col-xs-6"><select
                                ng-model="seller.mozuSiteId"
                                ng-options="site.id as site.name for site in settings.sites"
                                class="tab-field" required="required"></select></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
 	</div>
</div>

