<div class="row" id="settings">
	<div class="tab-full-column">
		<h4>Sterling OMS Connection Settings</h4>
		<div>
			<label class="tab-field-label requiredContent"> <strong>Sterling
					OMS Web Service URL</strong>
			</label>
			<div class="controls">
				<input type="text" id="sterlingUrl" ng-model="settings.sterlingUrl"
					class="tab-field" required="required"></input>
			</div>
			<label class="tab-field-label requiredContent"> <strong>Sterling
					OMS User Name</strong>
			</label>
			<div class="controls">
				<input type="text" id="sterlingUserName"
					ng-model="settings.sterlingUserId" class="tab-field"
					required="required"></input>
			</div>
			<label class="tab-field-label requiredContent"> <strong>Sterling
					OMS Password</strong>
			</label>
			<div class="controls">
				<input type="password" id="sterlingPW"
					ng-model="settings.sterlingPassword" class="tab-field"
					required="required"></input>
			</div>
			<label class="tab-field-label requiredContent"> <strong>Sterling
					OMS Provider Endpoint</strong>
			</label>
			<div class="controls">
				<input type="text" id="sterlingJmsProviderEndpoint"
					ng-model="settings.providerEndpoint" class="tab-field"
					required="required"></input>
			</div>
			<label class="tab-field-label requiredContent"> <strong>Sterling
					OMS Bus Name</strong>
			</label>
			<div class="controls">
				<input type="text" id="sterlingJmsBusName"
					ng-model="settings.busName" class="tab-field"
					required="required"></input>
			</div>
			<label class="tab-field-label requiredContent"> <strong>Sterling
					OMS Destination Name</strong>
			</label>
			<div class="controls">
				<input type="text" id="sterlingJmsDestinationName"
					ng-model="settings.destinationName" class="tab-field"
					required="required"></input>
			</div>
			<label class="tab-field-label requiredContent"> <strong>Sterling
					OMS Inbound Destination Name</strong>
			</label>
			<div class="controls">
				<input type="text" id="sterlingJmsInboundDestinationName"
					ng-model="settings.inbouldDestinationName" class="tab-field"
					required="required"></input>
			</div>
		</div>
	</div>
</div>
